<div class="container ret-container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a class="brand-logo">
                <img src="../../../assets/images/header_agilent_logo.png" alt="Agilent Technologies">
            </a>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="cre-width color-bg">
                <div class="cre-password text-center">
                    <h3 class="text-blue">{{'CREATE_PASSWORD.CREATE_TITLE' | translate}}</h3>
                    <p class='cp-email'>{{'CREATE_PASSWORD.EMAIL_ADDRESS' | translate}}</p>
                    <p class="cp-info">Password must include at least 8 characters and 1 number</p>
                    <div class="form-pwd text-left">
                        <form [formGroup]="formModel">
                            <div class="form-group">
                                <div class="ShowPassword">
                                    <label for="NewPassword"
                                        class="newPwd control-label">{{'CREATE_PASSWORD.NEW_PASSWORD' | translate}}</label>
                                    <input type="{{publicService.inputType}}" class="form-control inputPassword" id=""
                                        formControlName="newPassword" id="new_password" required>
                                    <p class="pwd-toggle" (click)="publicService.showPassword()">
                                        <span class="pwd-show"
                                            [ngClass]="{'pwd-show': publicService.isShow,'pwd-hide':publicService.isHide}"></span>
                                    </p>
                                    <p class="form-error-msg" *ngIf="isFieldValid('newPassword')">
                                            {{'CREATE_PASSWORD.PASSWORD_LONG' | translate}}
                                        </p>
                                </div>
                                <!-- <div class="pwd-tip text-gary">
                                    <span class="pwd-tip">{{'CREATE_PASSWORD.PASSWORD_RULE' | translate}}</span>
                                </div> -->
                            </div>
                            <div class="form-group rp-container">
                                <label for="retypePassword"
                                    class="newPwd control-label">{{'CREATE_PASSWORD.RWTYPE_PASSWORD' | translate}}</label>
                                <input type="{{publicService.inputType}}" class="form-control inputPassword" id="retypePassword"
                                    formControlName="retypePassword">
                                    <p class="pwd-toggle" (click)="publicService.showPassword()">
                                        <span class="pwd-show"
                                            [ngClass]="{'pwd-show': publicService.isShow,'pwd-hide':publicService.isHide}"></span>
                                    </p>
                                    <p class="form-error-msg" *ngIf="isFieldValid('retypePassword')">
                                            {{'CREATE_PASSWORD.PASSWORD_MATCH' | translate}}
                                        </p>
                                    <p class="matching-error" *ngIf="confirmPasswordError">Password does not match</p>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn agt-btn" (click)="onSubmit()">{{'CREATE_PASSWORD.CREATE_PASSWORD' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>