.cre-width {
  width: 543px;
  margin: 30px auto 120px;
}
.cre-password {
  padding: 44px 106px 49px;
  border-radius: 4px;
  background-color: #ffffff;
  .cp-email {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
  }
  .cp-info {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    color: #888b8d;
  }
}
.reg-failed-existing {
  padding: 44px 42px 70px;
}

h3 {
  font-size: 27px;
  margin-bottom: 10px;
}
p {
  line-height: 28px;
}
.brand-logo img {
  display: block;
  width: 300px;
  padding: 36px 20px;
  margin: 0 auto;
}
.text-blue {
  font-weight: 300;
  font-size: 29px;
  line-height: 39px;
  text-align: center;
  color: #0085d5;
}
.text-red {
  color: #97050d;
}
.text-gary {
  color: #858687;
}
.bg-gary {
  color: #e8eef1;
}
.Checkbox-color {
  color: #79909b;
}
.btn-color {
  background: #143b5f;
  color: #ffffff;
}
a {
  text-decoration: none;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.form-pwd {
  margin-bottom: 40px;
}
.ShowPassword {
  position: relative;
}
.newPwd {
  font-size: 12px;
  margin-bottom: 0px;
}
.rp-container {
  position: relative;
  margin-top: 20px;
}
.pwd-tip {
  font-size: 12px;
  margin: 6px 0;
}
.hideShowPassword-toggle {
  position: absolute;
  top: 50%;
  right: -56px;
  font-size: 12px;
}
.form-error-msg,
.matching-error {
  font-size: 11px;
  line-height: 16px;
  color: #d6001c;
}
@media only screen and (max-width: 576px) {
  .brand-logo img {
    width: 300px;
    padding: 36px 20px;
  }
  .cre-password {
    padding: 44px 20px 49px;
  }
  .cre-width {
    width: 100%;
  }
  .hideShowPassword-toggle {
    top: 30%;
    right: 0;
  }
}
