/* Global Styles */

// css声明顺序
// position 及相关声明
// display及相关声明
// margin 、padding和border 及相关声明
// 字体/ 文本相关声明
// 背景(background)
// 其他(animation, transition等)

@charset 'utf-8';
@import "variables.scss";
html {
  position: relative;
}
html,
body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Noto Sans";
}
.bg-image {
  background: url("./assets/images/Background.jpg") no-repeat;
  background-size: cover;
}
// .bg-color {
//   background: linear-gradient(
//     180deg,
//     rgba(75, 179, 233, 0.92) 16.67%,
//     rgba(18, 58, 96, 0.92) 99.96%,
//     rgba(1, 13, 19, 0.92) 99.97%,
//     rgba(4, 6, 7, 0.00946731) 99.98%,
//     rgba(4, 5, 6, 0.00479167) 99.99%,
//     rgba(3, 4, 4, 0) 100%
//   );
// }
.agt-container {
  max-width: 100%;
  padding: 32px 70px;
}
// logo component
.agilent-logo {
  max-width: 300px;
  width: 100%;
  padding-top: 38px;
}
.c-link {
  margin-top: 120px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.form-container {
  max-width: 520px;
  width: 100%;
  padding-bottom: 60px;
  margin: 0 0 0 auto;
  border-radius: 4px;
  background-color: #ffffff;
}
.agt-ret-desc {
  max-width: 520px;
  width: 100%;
  padding: 12px;
  margin: 0 0 0 auto;
  font-size: 12px;
  font-weight: 200;
  color: #ffffff;
  p {
    margin-bottom: 8px;
  }
}
.r-form {
  margin: 0 100px;
}
.form-control {
  height: 48px;
  padding-left: 12px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  &:focus {
    box-shadow: none;
  }
}
.control-label {
  position: absolute;
  top: -8px;
  left: 8px;
  padding: 0 4px;
  line-height: 16px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #53565a;
  background-color: #ffffff;
}
.form-error-msg {
  position: absolute;
  bottom: -8px;
  left: 9px;
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 0;
  font-size: 11px;
  background-color: #fff;
  color: $errormsg;
}
.ng-invalid.ng-touched {
  border-color: $errormsg;
}
.select-control.ng-invalid.ng-touched {
  border-color: $errormsg;
}
.mb-4 {
  margin-bottom: 24px !important;
}
.title-bg-color {
  height: 52px;
  line-height: 52px;
  margin-bottom: 32px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000000;
  font-size: 14px;
  text-align: center;
  background-color: #edeff0;
  p {
    margin-bottom: 16px;
    // font-size: 16px;
  }
}
.sing-in-link {
  color: $link;
}
.select-control {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 1.5;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid $inputBorderColor;
  border-radius: 0.25rem;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.agt-btn {
  width: 100%;
  height: 38px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: $btnTextColor;
  background-color: $btn;
  box-shadow: 1px 2px 3px lighten(#1d3a5d, 60%);
  &:hover{
    color: #ffffff;
  }
}

.checkboxStyle {
  margin-right: 12px;
}
select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.pwd-toggle {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 20px;
  height: 16px;
  font-size: 12px;
  color: #a9abac;
  cursor: pointer;
  span {
    background-size: 22px;
  }
}
.user-icon,
.pwd-icon,
.pwd-show,
.pwd-hide {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url(./assets/images/vector.png) 0 -50px no-repeat;
  background-size: 200px;
}
.pwd-show {
  background-position: 0 0;
}
.pwd-hide {
  background-position: 0 -15px;
}
.pwd-icon {
  background-position: 3px 0;
  background-size: 160px;
}
.pwd-forgot {
  display: block;
  width: 100%;
  text-align: right;
  color: $link;
}
.form-control {
  &:focus {
    box-shadow: none;
  }
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #8a8787;
    font-size: 15px;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8a8787;
    font-size: 15px;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #8a8787;
    font-size: 15px;
  }
}
.form-title {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
.form-prompt {
  color: #8c8c8c;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .ret-container {
    margin-bottom: 130px;
  }
}
@media screen and (max-width: 767px) {
  .ret-container {
    margin-bottom: 260px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .agt-container {
    padding-right: 35px;
  }
  .r-form {
    margin: 0 12px;
  }
}
@media screen and (max-width: 767px) {
  .bg-image {
    background-image: url("./assets/images/moblie-bg.jpg");
  }
  .agt-container {
    padding: 0 15px;
  }
  .agilent-logo {
    display: block;
    width: 200px;
    margin: 0 auto 32px;
  }
  .agt-container{
    padding-bottom: 36px;
  }
  .c-link {
    display: none;
  }
  .title-bg-color{
    height: 44px;
    line-height: 44px;
  }
  form .mb-4{
    margin-bottom: 19px !important;
  }
  .form-container,
  .agt-ret-desc {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .r-form {
    margin: 0 16px;
  }
  .legal p:first-of-type {
    width: 225px;
    margin: 0 auto 20px;
  }
  .rgt-right span {
    display: block;
    margin-bottom: 13px;
    line-height: 17px;
    &.vertical-line {
      display: none;
    }
  }
}
