//颜色定义
$btn: #037cc2;
$link: #0085d5;
$white: #ffffff;
$tilte: #0085d5;
$email: #0085d5;
$h3Title:#037CC2;
$ftbColor: #4BB3E9;
$errormsg: #d6001c;
$btnTextColor: #ffffff;
$checkBoxColor: #0085d5;
$formHeaderColor: #e8eef1;
$inputBorderColor: #d0d0ce;
