<div class="container agt-container ret-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img class="agilent-logo" src="../../../assets/images/header_agilent_logo.png" alt="Agilent Technologies">
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-container confirm-account">
                <div class="title-bg-color">
                    <p>
                        {{'ACTIVATION_EXPIRED.ALREADYACCOUNT' | translate}}<a class="sing-in-link"
                            href="javascript:void(0)">
                            <span>{{'ACTIVATION_EXPIRED.SIGNIN' | translate}}</span></a>
                    </p>
                </div>
                <div class="expired-des">
                    <h2>{{'ACTIVATION_EXPIRED.ACTIVATION_TITLE' | translate}}</h2>
                    <p>{{'ACTIVATION_EXPIRED.EXPIRED_INFO' | translate}}</p>
                    <p>{{'ACTIVATION_EXPIRED.ACTIVATION_INFO' | translate}}</p>
                    <p>{{'ACTIVATION_EXPIRED.EXPIRED_TIME' | translate}}</p>
                    <button class="btn agt-btn" type="submit">{{'ACTIVATION_EXPIRED.RESEND_EMAIL' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>