<div class="agt-footer-container">
    <div class="agt-footer">
        <div class="legal">
            <p>
                <span>
                    For assistance, please <a class="sing-in-link" href="https://www.agilent.com/en/contact-us/page#">contact support</a>
                    or call us at 1-800-227-9770.
                </span>
            </p>

            <p class="rgt-right">
                <span> © 2019 Agilent Technologies, Inc.</span>
                <span class="vertical-line">|</span>
                <span class="ft-col">Privacy Policy</span>
                <span class="vertical-line">|</span>
                <span class="ft-col">Terms of Use</span>
            </p>

        </div>
    </div>
</div>