<div class="container agt-container ret-container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <img class="agilent-logo" src="../../../assets/images/header_agilent_logo.png" alt="Agilent Technologies">
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-container confirm-account">
                <div class="title-bg-color">
                    <p>
                        {{'CONFIRM_ACCOUNT.ALREADYACCOUNT' | translate}}<a class="sing-in-link"
                            href="javascript:void(0)">
                            <span>{{'CONFIRM_ACCOUNT.SIGNIN' | translate}}</span></a>
                    </p>
                </div>
                <div class="account-des">
                    <h2>{{'CONFIRM_ACCOUNT.THANK' | translate}}</h2>
                    <p>{{'CONFIRM_ACCOUNT.SET_ACCOUNT' | translate}}</p>
                    <p>{{'CONFIRM_ACCOUNT.VERIFY_ACCOUNT' | translate}}</p>
                    <p>{{'CONFIRM_ACCOUNT.WELCOME' | translate}}</p>
                    <button class="btn agt-btn" type="submit">{{'CONFIRM_ACCOUNT.RESEND_EMAIL' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>