<div class="container agt-container ret-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img class="agilent-logo" src="../../../assets/images/header_agilent_logo.png" alt="Agilent Technologies">
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-container error-page">

                <div class="title-bg-color">
                    <p>
                        {{'ACTIVATION_EXPIRED.ALREADYACCOUNT' | translate}}<a class="sing-in-link"
                            href="javascript:void(0)">
                            <span>{{'ACTIVATION_EXPIRED.SIGNIN' | translate}}</span></a>
                    </p>
                </div>
                <div class="expired-des">
                    <div *ngIf="FailedInfo" class="failed-info text-center">
                        <h2 class="text-blue">{{'REGISTRATION_FAILED.FAILED_TITLE' | translate}}</h2>
                        <p>{{'REGISTRATION_FAILED.ISSUE' | translate}}<br />{{'REGISTRATION_FAILED.CONTACT' | translate}}
                        </p>
                        <p><a href="" class="text-blue">{{'REGISTRATION_FAILED.ISE_EMAIL' | translate}}</a></p>
                        <p>{{'REGISTRATION_FAILED.THANK' | translate}}<br />{{'REGISTRATION_FAILED.TEAM' | translate}}
                        </p>
                    </div>
                    <div *ngIf="!FailedInfo" class="text-center">
                        <h3 class="failedTitle">{{'REGISTRATION_FAILED.EMAIL_TITLE' | translate}}</h3>
                        <p>{{'REGISTRATION_FAILED.EMAIL_INFO' | translate}}</p>
                        <p class=""><a href="javascript:void(0)">{{'REGISTRATION_FAILED.USER_EMAIL' | translate}}</a>
                        </p>
                        <div class="exist-email">
                            <button type="button"
                                class="btn agt-btn">{{'REGISTRATION_FAILED.SIGN_IN' | translate}}</button>
                        </div>
                        <p class="for_password"><a href="javascript:void(0)" [routerLink]="['/forgot-password']"
                                class="text-blue">{{'REGISTRATION_FAILED.FORGOT_PASSWORD' | translate}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>